  .input3 {
    float:left;
    margin-top: 50px;

    width: 70%;
    }

  .input {
    max-width: 300px;
  }

  .input2 {

    width: 100%;
    float: right;
}
.title3{float: left;margin-left:10px;padding-top:15px;}
.md-block{ width: 500px;float: right;margin-top:15px;}
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.email {
    color: green; }
  .inputdemoIcons md-input-container:not(.md-input-invalid) > md-icon.name {
    color: dodgerblue; }
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.email,
  .inputdemoIcons md-input-container.md-input-invalid > md-icon.name {
    color: red; }

  div.list1{
    margin-top: 50px;
  float:right;
    width:30%;}

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listdemoListControls md-list {
  padding-top: 0; }

.listdemoListControls md-list-item{
  max-width:300px;
  margin-right: auto;
   margin-left: auto;
}

.subh{
  text-align: center;
}

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }
